
.container{
    margin: 40px;
    width: 200px;
    background-color: #0b227e;
    border-radius: 5px;
    height: 500px;
    position: absolute;

    .nav {
        padding: 15px 10px;
        .nav-link {
            color: white;
            &:hover{
                color: orange;
            }
        }
    }
    
}