<div class="container">
  <div class="row">
    <input type="text" (change)="onKey($event)" autofocus  value="" min="1"/>
    <p>barcode: {{ barcode }}</p>
  </div>
  <div class="title">
    <span>Venta N° {{ 34555 }}</span>
  </div>
  <div class="table-sales">
    <table class="table" >
      <thead>
        <tr>
          <th scope="col">Codigo Producto</th>
          <th scope="col">Nombre Producto</th>
          <th scope="col">Precio Unitario</th>
          <th scope="col">Cantidad</th>
        </tr>
      </thead>
      <tbody *ngFor="let item of addProductScanner">
        <tr>
          <th scope="row">{{ item.codproduct }}</th>
          <td>{{ item.nameproduct }}</td>
          <td>{{ item.price }}</td>
          <th><input type="number" class="form-control"  min="1"  value="1"  (input)="quantityProduct($event)"></th>
          <!-- <input type="text"> -->
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container-total">
    <div class="total">
      <span>Total: {{ totalProductQty }}</span>
     
    </div>
    <div>
      <span>Total Neto: {{ 9000 }}</span>
    </div>

    <div class="button float-right">
      <button class="btn btn-secondary">Cancelar</button>
      <button class="btn btn-primary" (click)="payProductsSummary()">Pagar</button>
    </div>
  </div>
</div>
