<div class="container">
  <div class="title">
    <span>Venta N° {{ 34555 }}</span>
  </div>
  <div class="table-sales">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Codigo Producto</th>
          <th scope="col">Nombre Producto</th>
          <th scope="col">Precio Unitario</th>
          <th scope="col">Cantidad</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td colspan="2">Larry the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="container-total">
    <div class="total">
      <span>Total: {{ 8000 }}</span>
      <span>Total Neto: {{ 9000 }}</span>
    </div>
  
    <div class="button float-right">
      <button class="btn btn-secondary">Cancelar</button>
      <button class="btn btn-primary">Pagar</button>
    </div>
    
  </div>
</div>
