<div class="container">
  <div class="title">Mantenedor Productos</div>
 <!-- <form [formGroup]="formMantainerProducts">
    <div class="mx-3 p-2"> 
       <mat-form-field>
        <mat-label>Código Producto</mat-label>
        <input
          matInput
          placeholder="Ingrese codigo producto"
          formControlName="codeProduct"
        />
      </mat-form-field>
    </div>
    <div class="mx-3 p-2"> 
      <mat-form-field>
        <mat-label>Nombre Producto</mat-label>
        <input
          matInput
          placeholder="Ingrese nombre producto"
          formControlName="nameProduct"
        />
      </mat-form-field>
    </div>
    <div class="mx-3 p-2"> 
      <mat-form-field>
        <mat-label>Detalle Producto</mat-label>
        <input
          matInput
          placeholder="Ingrese detalle producto"
          formControlName="detailProduct"
        />
      </mat-form-field>
    </div>
    <div class="mx-3 p-2"> 
      <mat-form-field>
        <mat-label>Precio</mat-label>
        <input
          matInput
          placeholder="Ingrese Precio producto"
          formControlName="priceProduct"
        />
      </mat-form-field>
    </div>
    <div class="mx-3 p-2"> 
        <mat-form-field>
          <mat-label>Stock Local</mat-label> 
          <input
            matInput
            placeholder="Ingrese stock local"
            formControlName="stockStore"
          />
        </mat-form-field>
      </div>
      <div class="mx-3 p-2"> 
        <mat-form-field>
          <mat-label>Stock Bodega</mat-label> 
          <input
            matInput
            placeholder="Ingrese stock bodega"
            formControlName="stockWarehouse"
          />
        </mat-form-field>
      </div> 
  </form>-->
</div>
